<p (click)="onDelete()">
  mediaItem = -{{mediaItem.name}}-
</p>

<form #fruitsForm="ngForm" (ngSubmit)="onSubmit(fruitsForm.value)">
  <select name="fruits" ngModel>
    <option value="">-Select-</option>
    <option value="apple">Apple</option>
    <option value="banana">Bannana</option>
  </select>

  <input type="text" name="name" ngModel>

`<button>Submit</button>
</form>
